SPTypeScript/.vs/*
SPTypeScript/*.suo
SPTypeScript/*.csproj.user
SPTypeScript/Sample_*/*.js.map
SPTypeScript/Sample_*/*.js
SPTypeScript/Extensions/*.js.map
SPTypeScript/Extensions/*.js
SPTypeScript/obj/*
SPTypeScript/bin/*
SPTypeScript/pkg/*
SPTypeScript/pkgobj/*
SPTypeScript/packages/*
SPTypeScript/*.cache
node_modules
release
*.nupkg