SPTypeScript/*.suo
SPTypeScript/*.csproj.user
SPTypeScript/Sample_*/*.js.map
SPTypeScript/Sample_*/*.js
SPTypeScript/obj/*
SPTypeScript/bin/*
SPTypeScript/pkg/*
SPTypeScript/pkgobj/*
SPTypeScript/packages/*